*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 47rem;
    overflow: auto;
    
    position: fixed;
    width: 100%;
    

   
    
}

#header .left{
    float: left;
    padding-left: 5rem;
}


#header .right{
    float: right;
    padding-right: 5rem;
    padding-top: 3rem;
    
}
.left p{
    font-size: 30px;
}

#header .right a{
    padding-left: 25px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.left p{
    font-size: 20px;
    color: #fff;
}

.btn-2{
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 15px 30px;
    
}

.btn-2:hover{
    background-color: #FD4766;
}

.right img{
    margin: 0 4rem;

}

#key{
    text-align: center;
    color: #fff;
    padding-top: 13rem;
    background-image: url(http://rainbowit.net/themes/imroz/wp-content/uploads/2021/10/bg-image-26.jpg);
    background-position: center;
    background-size: cover;
    opacity: 1.5;
    height: 47rem;

    

}

#key a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: 2px solid #FD4766;
    border-radius: 30px;
    padding: 25px 40px;
    letter-spacing: 2px;
    background-color: #FD4766;
    transition: 0.7;
   
    
}



#key h1{
    font-size: 7rem;
    
}
#key p{
    font-size: 24px;
    margin-bottom: 80px;
}

#new{
    width: 100%;
    height: 43rem;
    overflow: auto;
    margin-top: 8rem;
    text-align: center;
    

}

.box{
    background-color: #F6F6F6;
    width: 30%;
    margin-left: 3rem;
    float: left;
    
    margin-top: 2rem;
    border: 2 px solid #F6F6F6;
    border-radius: 5px;
    padding: 60px 40px;
    text-align: left;
    padding-right: 2rem;
    transition: .7;

}

.box p{
    font-size: 20px;
    margin-top: 40px;
}

.box h3{
    font-size: 2rem;
    margin-top: 15px;
    
}

.box svg{
    color: red;
    
}

.box:hover{
    background-color: sienna;
    color: snow;
}

#key a:hover{
    background-color: transparent;
    color:#FD4766;
    
}